
@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel-Regular.ttf') format('truetype');
}

body, html {
    font-family: 'Abel', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    margin-top: 40px;
    width: 100%;
    text-align: center; /* Centrage horizontal */
}


.al-text {
    font-family: 'Dancing', Arial, sans-serif;
    font-size: 2em;
    color: #000000;
    user-select: none;
}


@media (max-width: 768px) {

    .al-text {
        margin-top: 10px;
        margin-bottom: 30px;
        order: 3;
        font-size: 2em;
        user-select: none;
    }

}

